[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setfit = "*"
transformers = "==4.36.0"
fpdf = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.9"
